<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Currecies Rates Viewer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/shared.css') }}"/>
</head>
<body>

    <div data-controller-name="CurrencySelector">
        <p>Select a Currency</p>
        <select aria-label="Currencies Dropdown" data-outlet-id="currenciesDropDown"></select>
    </div>

    <div data-controller-name="ExchangeRatesViewer"
         data-on-currencyselector-currencychanged="handleCurrencyChange">
        <p>
            Rates for 1 (<span data-outlet-id="currencyLabel"></span>)
        </p>
        <div data-outlet-id="ratesList"
             data-child-templates='["client-stack/modules/home/rates.list-row-template.html"]'></div>
    </div>

    <div data-controller-name="NotificationsViewer"
         data-on-currencyselector-currencychanged="handleCurrencyChange"
         data-on-exchangeratesviewer-itemclicked="handleRatesListItemClick">
        <p>
            <span data-outlet-id="messageText"></span>
        </p>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" integrity="sha512-U6K1YLIFUWcvuw5ucmMtT9HH4t0uz3M366qrF5y4vnyH6dgDzndlcGvH/Lz5k8NFh80SN95aJ5rqGZEdaQZ7ZQ==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stacktrace.js/2.0.2/stacktrace.min.js" integrity="sha512-9fotp9F7mNA1AztobpB07lScgCKiN4i2JuRYTl8MxiHQVJs05EJqeUfPWt9OFAKD1QsIVZiNFQSdov9luOT8TA==" crossorigin="anonymous"></script>

    <script type="application/javascript">
        window.onerror = function (msg, file, line, col, error) {
            StackTrace.fromError(error, {}).then(function (stackframes) {
                let stringifiedStack = stackframes.map(function (frame) {
                    return frame.toString();
                }).join('\n');

                //TODO: Post exception to the a logging service

                console.log(stringifiedStack);
            }).catch(function (err) {
                console.log(err.message);
            });
        };
    </script>

    <script type="module" src="{{ url_for('static', filename='modules/home/currency-selector.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='modules/home/exchange-rates-viewer.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='modules/shared/notifications-viewer.js') }}"></script>
</body>
</html>