<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Currecies Rates Viewer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/shared.css') }}"/>
</head>
<body>

    <div data-controller-name="CurrencySelector">
        <p>Select a Currency</p>
        <select aria-label="Currencies Dropdown" data-outlet-id="currenciesDropDown"></select>
    </div>

    <div data-controller-name="ExchangeRatesViewer"
         data-on-currencyselector-currencychanged="handleCurrencyChange">
        <p>
            Rates for 1 (<span data-outlet-id="selectedCurrencyLabel"></span>)
        </p>
        <div data-outlet-id="ratesList"
             data-child-templates='["client-stack/modules/home/rates.list-row-template.html"]'></div>
    </div>

    <p>Testing multiple subscribers to the same publisher</p>

    <div data-controller-name="Dummy"
         data-on-currencyselector-currencychanged="handleCurrencyChange">
        <span data-outlet-id="outlet"></span>
    </div>

    <script type="application/javascript"
        src="{{ url_for('static', filename='libs/jquery/jquery-3.1.1.js') }}"></script>

    <script type="application/javascript"
            src="{{ url_for('static', filename='libs/stacktrace/stacktrace.min.js') }}"></script>

    <script type="application/javascript">
        window.onerror = function (msg, file, line, col, error) {
            StackTrace.fromError(error).then(function (stackframes) {
                let stringifiedStack = stackframes.map(function (frame) {
                    return frame.toString();
                }).join('\n');

                //TODO: Post exception to the a logging service

                console.log(stringifiedStack);
            }).catch(function (err) {
                console.log(err.message);
            });
        };
    </script>

    <!--
    <script type="module" src="{{ url_for('static', filename='modules/home/home.js') }}"></script>
    -->

    <script type="module" src="{{ url_for('static', filename='modules/home/currency-selector.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='modules/home/exchange-rates-viewer.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='modules/home/dummy.js') }}"></script>

</body>
</html>